body {
  margin: 0;
  /* font-family: 'Roboto'; */
  font-family: Public Sans, sans-serif !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  /* color: rgb(99, 115, 129); */
  color: rgb(33, 43, 54);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input.glass{
  height: 40px !important;
  width: 100% !important;
  border-radius: 20px !important;
  border: 1px solid #dddddd !important;
  padding-left: 10px !important;
}
.leaflet-control-geosearch.leaflet-geosearch-bar{
  width: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaflet-control-geosearch.leaflet-geosearch-bar form{
  border: none !important;
  width: 50% !important;
  min-width: 250px !important;
  background-color: inherit !important;
  /* display: flex !important; */
  /* align-items: center !important; */
}
.leaflet-control-geosearch.leaflet-geosearch-bar form .reset{
  height: 40px !important;
  background-color: inherit !important;
  color: #aaaaaa;
  margin-right: 10px;
  font-size: 16px !important;
}
.overlayed_over_map{
  padding: 30px;
  position: absolute;
  bottom: 0 !important;
  z-index: 345435;
  width: 100% !important;
}

.toolpad-demo-app-mdw2u7-MuiModal-root-MuiDialog-root{
  z-index: 34543577 !important;
}

.card{
  /* box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px; */
  background-color: rgb(255, 255, 255);
  /* color: rgb(33, 43, 54) !important; */
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) !important;
  background-image: none !important;
  overflow: hidden !important;
  position: relative !important;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px !important;
  border: none !important;
  border-radius: 16px !important;
  z-index: 0 !important;
  padding: 10px !important;
}
.overlayed_over_map .card{
  width: 100% !important;
  max-height: 200px !important;
}
.graph_content{
  min-width: 250px !important;
}
.taken_picture_card{
  position: relative;
}
.close_card_button{
  position: absolute;
  top: -10px !important;
  right: -10px !important;
  width: fit-content;
  height: 100% !important;
}

  .image_file_design{
    height: 250px !important;
    position: relative;
  }
  .image_file_design video{
    height: 250px !important;
  }
  .image_file_design img{
    object-fit: scale-down;
    max-height: 250px !important;
  }

  .take_picture_positioned_button{
    position: absolute;
    bottom: 0;
    left: calc(50% - 25px);
    right: calc(50% - 25px);
    height: 50px !important;
    width: 50px !important;
    border-radius: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .take_picture_positioned_button:hover{
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
  }

  form{
    box-shadow: none !important;
  }
  .authentication_form{
    min-height: 100dvh !important;
  }

  .long_gray_line{
    position: relative;
    height: 1px;
    width: 60%;
    margin: auto;
    background-color: #aaaaaa;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .or_text{
    position: absolute;
    right: calc(50% - 15px);
    left: calc(50% - 15px);
    top: -15px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .auth_grid_container{
    /* display: flex; */
    width: 100%;
  }
  .full_height_rows{
    min-height: 100dvh !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .form_section .text_section{
    height: fit-content !important;
  }
  .form_section{
    width: 60%;
  }

  .auth_tabs{
    background-color: #aaaaaa;
    padding: 5px !important;
    border-radius: 25px;
    width: 50%;
    min-width: 250px;
    margin: auto !important;
  }
  .MuiTabs-list.MuiTabs-flexContainer.css-hzcega-MuiTabs-list{
    width: 100% !important;
    justify-content: space-between !important;
  }
  .auth_tabs button{
    background-color: #fff !important;
    color: #aaaaaa !important;
    margin-right: 10px !important;
    border-radius: 20px;
    width: 48%;
  }
  .auth_tabs .MuiTabs-indicator.css-1qltlow-MuiTabs-indicator{
    display: none !important;
  }
  .button_containers{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .button_containers .auth_call_to_action_buttons{
    display: flex !important;
    align-items: center !important;
    justify-content: center;
    padding: 15px !important;
  }

    h1,h2,h3,h4,h5,h6{
    font-weight: 600 !important;
  }

  .has_background{
    background-image: linear-gradient(to top, rgba(0, 165, 153,.8), rgba(0, 165, 153,.5), rgba(0, 165, 153,.2));
  }

   .button_containers{
    margin-left: 24px !important;
    margin-right: 24p !important;
  }

  .MuiTabs-indicator.css-15h2ze8-MuiTabs-indicator{
    display: none !important;
  }
  .mobile_view_full_height{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
  }
  .mobile_view_full_height .form_section{
    width: 50%;
    margin: auto;
  }

  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.toolpad-demo-app-tu5j92-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    /* background-color: rgb(255, 255, 255); */
    /* color: rgb(33, 43, 54); */
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: none;
    position: absolute;
    min-width: 16px;
    min-height: 16px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    outline: 0px;
    box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) -20px 20px 40px -4px;
    border-radius: 12px;
    padding: 0px;
    width: 200px;
    overflow: inherit;
    margin-top: 12px;
    margin-left: 6px;
  }
  .reports_main_card{
    min-height: 400px !important;
  }

  .toolpad-demo-app-if1821-MuiPaper-root-MuiTableContainer-root{
    box-shadow: unset !important;
  }
  .MuiListItem-root.MuiListItem-gutters.MuiListItem-padding.css-z2qibm-MuiListItem-root{
    border-radius: 5px !important;
    cursor: pointer !important;
  }

  .MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-rizt0-MuiTypography-root{
    margin: 0px;
    line-height: 1.57143;
    font-size: 0.875rem;
    font-family: Public Sans, sans-serif !important;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

.mapping_container_page{
  min-height: 100dvh !important;
}
.css-1lwhjos-MuiPaper-root-MuiDrawer-paper{
  border-right: 1px dashed rgba(145, 158, 171, 0.24) !important;
}
.page_brand{
  width: 100%;
  max-height: 100px;
}
.page_brand img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: left;
}
.mobileMenuNavigationBar .MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-1ygil4i-MuiToolbar-root{
  display: none !important;
}
.see_all_locations_toggle{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3454765878709809;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-10d30g3-MuiPaper-root-MuiDialog-paper{
  z-index: 445476587870980966 !important;
}